body {
background: #fff;
font-family: "Roboto", sans-serif;
margin: 0;
color: #434455;
}

.site-header {
width: 1440px;
height: 72px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;    
}

.logospan {
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu-nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 261px;
    height: 24px;
}

.menu-list {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.menu-list:hover {
color: #404bbf;
}

.menu-list:focus {
color: #404bbf;
}

.contact-adress {
    font-style: normal;
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover {
color: #404bbf;
}

.contact-link:focus {
    color: #404bbf;
}

.hero {
background: #2e2f42;
width: 1440px;
height: 600px;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-button {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
       
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;

    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;

        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background: #4d5ae5;
            cursor: pointer;             
}

.hero-button:hover {
    background-color: #404bbf;
}

.hero-button:focus {
    background-color: #404bbf;
}

.features-box {
    width: 1128px;
    height: 104px;
    margin-left: 156px;
    margin-top: 0;
    margin-right: 156px;
    margin-bottom: 0;
}

.title {
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.list-featers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    width: 264px;
    height: 104px;
}

.title-featers {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.text-featers {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-box {
    width: 1440px;
        height: 732px;
        background: #f4f4fd;
}

.team-card {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        border-radius: 0 0 4px 4px;
            padding: 0px 0px 32px 0px;
            width: 264px;
            height: 380px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
                background: #fff;
}

.team-image {
    width: 264px;
        height: 260px;
        background: url("path_to_image");
}

.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-position {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.portfolio-box {
width: 1128px;
    height: 1000px;
    margin-left: 156px;
    margin-top: 0;
    margin-left: 156px;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-card {
    width: 360px;
    height: 420px;
    background: #fff;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-image {
    width: 360px;
    height: 300px;
    background: url("path_to_image");
}

.foot-box {
    width: 1440px;
    height: 312px;
    background: #2e2f42;
}

.foot-logo {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
width: 115px;
height: 24px;
}

.foot-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}